<h1>About Us</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quo eos voluptatem est maiores facilis quae molestias dicta totam. Eum, debitis blanditiis placeat consectetur repudiandae accusantium a, accusamus cupiditate nobis.</p>

<%= link_to 'Home', root_path %>
